{% extends 'admin/base.html' %}
{% block title %}
    Add Event
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Calendar-app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/addevent">Add event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calendar">Calenar</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    <div class="container">
        <form action="/addevent" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Event title</label>
              <input type="text" class="form-control" name="title" id="title" placeholder="Enter the event title">
            </div>
            <div class="mb-3">
              <label for="start" class="form-label">Start date</label>
              <input type="text" class="form-control" name="start" id="start" placeholder="Format is yyyy-mm-ddThh:mm Ignore Thh:mm if you need it for all day">
            </div>
            <div class="mb-3">
              <label for="end" class="form-label">End date</label>
              <input type="text" class="form-control" name="end" id="end" placeholder="leave empty for event to be all day">
            </div>
            <div class="mb-3">
              <label for="url" class="form-label">Event url</label>
              <input type="url" class="form-control" name="url" id="url" placeholder="Leave empty for no url to be there">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
          </form>
    </div>
{% endblock body %}